.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-weight: 400px;
  font-style: normal;
}

body {
  background-color: #f5f5f5;
}

header,main{
  margin: 0 160px;
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: bold;
  font-size: 32px;
  color: #0e0e0e;
}

.nav-btn {
  font-weight: 600px;
  font-size: 18px;
  width: 125px;
  height: 55px;
  color: #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  border: solid#006A50;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav-btn:hover{
  background-color:darksalmon;
  border-radius: 12px;
}

/* shared styles */

.secondary-bg {
  background-color: #c6e4d6;
}

.title-primary {
  font-weight: bold;
  font-size: 40px;
  color: #0e0e0e;
}

.description-primary {
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.model-title {
  font-weight: bold;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
  margin-top: 24px;
  margin-bottom: 12px;
}

.satellite-margin {
  margin-bottom: 12px;
}

.satellite-btn {
  max-width: 139px;
  max-height: 48px;
  border-radius: 8px;
  background-color: #006a50;
  color: #ffffff;
  padding: 13px 26px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.satellite-btn:hover{
  background-color: indianred;
}
/* banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  border-radius: 24px;
}

.banner-content {
  max-width: 622px;
  margin: 117px 0 117px 60px;
}

.banner-profile-pic {
  max-width: 475px;
  margin: 80px 60px 80px 0;
}

.banner-title {
  font-weight: 500px;
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
}

.banner-description {
  font-weight: bold;
  font-size: 56px;
  color: #0e0e0e;
  margin-top: 16px;
}

.banner-btn {
  background-color: #006a50;
  color: #ffffff;
  border-radius: 8px;
  padding: 17px 30px;
  border: none;
  width: 270px;
  height: 56px;
  font-weight: 600px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.banner-btn:hover{
  background-color: chocolate;
  border-radius: 16px;
}

/* section styles */

/* pillar-section-1 */

.country-title {
  margin-bottom: 32px;
}

.pillars-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.pillars {
  width: 302px;
  height: 244px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
}

.pillar-title {
  font-weight: bold;
  font-size: 20px;
  color: #0e0e0e;
  margin-top: 24px;
}

.pillar-descriptions {
  margin-top: 12px;
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.Pillars-BD {
  margin-bottom: 80px;
}

/* vision-section-2 */

.vision-title {
  margin-bottom: 24px;
}

.vision-description {
  margin-bottom: 32px;
  line-height: 24px;
}

.vision-models-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 32px;
}

.vision-models-1 {
  width: 411px;
  padding: 32px;
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
}

.model-description-1 {
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.model-btn-1 {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  background-color: #5490f5;
  border: none;
  color: #ffffff;
  margin-top: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.model-btn-1:hover{
  background-color: darkred;
  border-radius: 12px;
}
.vision-models-2 {
  width: 411px;
  padding: 32px;
  border-radius: 16px;
  background-color: #c6e4d6;
}

.model-description-2 {
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 50px;
}


.model-btn-2 {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  background-color: #09a15c;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.model-btn-2:hover{
  background-color: darkred;
  border-radius: 12px;
}
.vision-models-3 {
  width: 411px;
  border-radius: 16px;
  padding: 24px;
  background-color: #f7ebcf;
}

.model-description-3 {
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 64px;
}

.model-btn-3 {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #ffc239;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.model-btn-3:hover{
  background-color: darkred;
  border-radius: 12px;
}
/* section-3 */

.Dr-yunus {
  border-radius: 16px;
  padding: 48px 24px;
  background-color: #ffffff;
  margin-bottom: 80px;
}

.background-img {
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  padding: 25px 0 0 24px;
}

.yunus-description {
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.name {
  font-weight: 600px;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 4px;
}

.designation {
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
  margin-top: 4px;
}

/* section-3-News */

.news-title {
  margin-bottom: 24px;
}

.news-description {
  margin-bottom: 32px;
}

.date-time {
  display: flex;
  gap: 12px;
}

.satellite-img {
  border-radius: 24px;
  margin: 48px 0 48px 48px;
  max-width: 408px;
}

.satellite-img-2 {
  border-radius: 24px;
  margin: 48px 48px 48px 0;
  max-width: 408px;
}

.launce-satellite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  gap: 30px;
  margin-bottom: 24px;
}

.bd-launch {
  margin: 56px 48px 56px 0;
  max-width: 744px;
}

.bd-launch-2 {
  margin: 56px 0 56px 48px;
  max-width: 744px;
}

.satellite-title {
  font-weight: bold;
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
}

/* section-4-donate */

.donate-term {
  max-width: auto;
  text-align: center;
}

.donate-title {
  margin-bottom: 24px;
}
.donate-description {
  margin: 0 88px 32px;
}

/* Donate-amount-btn */

.amount-btn-containers {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 105px 32px;
}

.amount-btn {
  width: 240px;
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 16px;
  font-weight: bold;
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.amount-btn::after{
  content: '';
  position: absolute;
  border-radius: 16px;
  width: 105%;
  height: 103%;
  background-image: linear-gradient(to bottom right, chocolate,darkgreen);
  z-index: -1;
}

.amount-btn:hover{
  z-index: -1;
}

.amount-btn-2 {
  width: 250px;
  padding: 40px;
  text-align: center;
  background-color: #c6e4d6;
  border-radius: 16px;
  font-weight: bold;
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex; 
}

.amount-btn-2::after{
  content: '';
  border-radius: 16px;
  width: 105%;
  height: 103%;
  position: absolute;
  background-image: linear-gradient(to bottom right,chocolate,darkgreen);
  z-index: -1;
}

.amount-btn-2:hover{
  z-index: -1;
}

.amount-btn-3 {
  width: 260px;
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 16px;
  font-weight: bold;
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.amount-btn-3::after {
  content: '';
  position: absolute;
  border-radius: 16px;
  width: 105%;
  height: 103%;
  background-image: linear-gradient(to bottom right,chocolate,darkgreen);
  z-index: -1;
}

.amount-btn-3:hover{
  z-index: -1;
}

.amount-term {
  text-align: center;
  margin: 0 124px 32px;
}

.amount-taka {
  font-weight: normal;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.3);
  padding: 20px 423px;
  border: none;
}

.done-btn {
  width: 150px;
  height: 56px;
  background-color: #006a50;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.done-btn:hover{
  background-color: chocolate;
  border-radius: 20px;
}

.donate-done-btn {
  display: block;
  margin: auto;
  width: max-content;
  margin-bottom: 80px;
}

/* section-5 */

.newsletter-subscribe {
  text-align: center;
  border-radius: 24px;
  margin-bottom: 80px;
}

.newsletter-title {
  padding: 80px 0 16px;
}

.newsletter-description {
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  padding: 0 329px 24px;
}

.newsletter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.mail-btn {
  width: 600px;
  height: 55px;
  background-color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.3);
  padding-left: 40px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.subscribe-btn {
  width: 150px;
  height: 56px;
  background-color: #006a50;
  color: #ffffff;
  font-weight: 600px;
  font-size: 18px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  cursor: pointer;
  transition: backghround-color 0.3s ease;
}
.subscribe-btn:hover{
  background-color: darkgoldenrod;
}
.security-ensure{
  font-weight: normal;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  padding-bottom: 80px;
}

/* footer */

footer{
  text-align: center;
  max-width: 100%;
  background-color: #ffffff;
}
h2{
  font-weight: bold;
  font-size: 32px;
  color: #0E0E0E;
  padding: 50px 0 32px;
}

hr{
  width: 1122px;
}
.icons-container{
  display: inline-flex;
  gap: 32px;
  padding: 32px 0 50px;
}