.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-weight: 400px;
    font-style: normal;
  }

  body{
    background-color: #F5F5F5;
    margin: 0 160px;
  }

/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.nav-btn{
    font-weight: 600px;
    font-size: 18px;
    width: 125px;
    height: 55px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    opacity: 100%;
    border-color: #006A50;
}

/* shared styles */

.secondary-bg{
    background-color: #C6E4D6;
}

.title-primary{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}

.description-primary{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px; 
    margin-bottom: 80px;
    gap: 64px;   
    opacity: 100%;
    border-radius: 24px;
}

.banner-content{
    padding: 117px 0 117px 60px;
    width: 620px;
    height: 325px;
}

.banner-title{
    font-weight: 500px;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-description{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 16px;
}

.banner-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 30px;
    border: none;
    width: 270px;
    height: 56px;
    font-weight: 600px;
    font-size: 18px;
}

.banner-profile-pic{
    width: 475px;
    height: 400px;
    padding: 80px 60px 80px 64px;
}


/* section styles */

/* section-1 */

.country-title {
    margin-bottom: 32px;
}

.pillars-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;   
}

.pillars{
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
}

.pillar-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin-top: 24px;
}

.pillar-descriptions{
    margin-top: 12px;
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}


.Pillars-BD{
    margin-bottom: 80px;
}

/* section-2 */

.vision-title{
   margin-bottom: 24px;
}

.vision-description{
    margin-bottom: 32px;
    line-height: 24px;
}


.vision-models-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}