.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-weight: 400px;
    font-style: normal;
  }

  body{
    background-color: #F5F5F5;
    margin: 0 160px;
  }

/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.nav-btn{
    font-weight: 600px;
    font-size: 18px;
    width: 125px;
    height: 55px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    opacity: 100%;
    border-color: #006A50;
}

/* shared styles */

.secondary-bg{
    background-color: #C6E4D6;
}

.title-primary{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}

.description-primary{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.model-title{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    margin-bottom: 12px;
}

.bd-satellite{
    margin-bottom: 12px;
}

.satellite-btn{
    max-width: 139px;
    max-height: 48px;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
    padding: 13px 26px;
    border: none;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    border-radius: 24px;
}

.banner-content{
    max-width: 622px;
    margin: 117px 0 117px 60px;
}

.banner-profile-pic{
    max-width: 475px;
    margin: 80px 60px 80px 0;
}

.banner-title{
    font-weight: 500px;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-description{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 16px;
}

.banner-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 30px;
    border: none;
    width: 270px;
    height: 56px;
    font-weight: 600px;
    font-size: 18px;
}


/* section styles */

/* pillar-section-1 */

.country-title {
    margin-bottom: 32px;
}

.pillars-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;   
}

.pillars{
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
}

.pillar-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin-top: 24px;
}

.pillar-descriptions{
    margin-top: 12px;
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}


.Pillars-BD{
    margin-bottom: 80px;
}

/* vision-section-2 */

.vision-title{
   margin-bottom: 24px;
}

.vision-description{
    margin-bottom: 32px;
    line-height: 24px;
}

.vision-models-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 32px;
}

.vision-models-1{
    width: 411px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);   
}


.model-description-1{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.model-btn-1{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background-color: #5490F5;
    border: none;
    color: #FFFFFF;
    margin-top: 24px;
}

.vision-models-2{
    width: 411px;
    padding: 32px;
    border-radius: 16px;
    background-color: #C6E4D6;
}


.model-description-2{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 50px;
}

.model-btn-2{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background-color: #09A15C;
    color: #FFFFFF;
    border: none;
}

.vision-models-3{
    width: 411px;
    border-radius: 16px;
    padding: 24px;
    background-color: #F7EBCF;
}


.model-description-3{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 64px;             
}

.model-btn-3{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background-color: #FFC239;
}

/* section-3 */

.Dr-yunus{
    border-radius: 16px;
    padding: 48px 24px;
    background-color: #FFFFFF;
    margin-bottom: 80px;       
}

.background-img{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    padding: 25px 0 0 24px;  
}

.yunus-description{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;

}

.name{
    font-weight: 600px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}

.designation{
    font-weight: normal;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    margin-top: 4px;
}

/* section-3-News */

.news-title{
    margin-bottom: 24px;
}

.news-description{
    margin-bottom: 32px;
}


.satellite-img{
    border-radius: 24px;
    margin: 48px 0 48px 48px;
    max-width: 408px;  
}

.satellite-img-2{
    border-radius: 24px;
    margin: 48px 48px 48px 0;
    max-width: 408px;

}

.launce-satellite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    gap: 32px;
    margin-bottom: 24px;
}

.bd-launch{
    margin: 56px 48px 56px 0;
    max-width: 744px;   
}

.bd-launch-2{
    margin: 56px 0 56px 48px;
    max-width: 744px;
}

.satellite-title{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}

